:root {

    /* fonts */
    --bm-title-font: 'Bebas Neue', sans-serif;
    --bm-subtitle-font: 'Fira Sans', sans-serif;
    --bm-heading-font: 'Bebas Neue', sans-serif;
    --bm-body-font: 'Roboto', sans-serif;

    /* theme colors */
    --bm-primary-color: rgb(145, 203, 251);
    --bm-secondary-color: rgb(66, 148, 186);
    --bm-highlight-color: rgb(250, 225, 120);
    --bm-dark-color: rgb(33, 33, 33);
    --bm-light-color: rgb(222, 238, 251);
    --bm-background-color: rgba(250, 250, 250, .8);

    /* text colors */
    --bm-font-size: 1.2rem;
    --bm-font-weight: 400;
    --bm-line-height: 1.5rem;
    --bm-title-color: var(--bm-dark-color);

    /* form colors */
    --bm-formfocus-border-color: var(--bm-secondary-color);
    --bm-formfocus-shadow: var(--bm-primary-color);
    --bm-formfocus-background-color: var(--bm-background-color);

    /* custom navbar color */
    --bm-nav-toggler-glow: rgba(250, 225, 120, .55);
    --bm-nav-toggler-color: var(--bm-highlight-color);

    --cf-orange: #ff993b;
}

body {
    font-size: 1.2rem;
}

nav {
    background-color: var(--bm-dark-color);
}

main>.container {
    padding: 60px 15px 0;
    margin-bottom: 5rem;
}

.techIcons {
    font-size: 3rem;
    /* color: var(--bm-light-color); */
    padding-right: 1rem;
}

.sticky-footer {
    position: sticky;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: var(--bm-dark-color);
    color: var(--bm-light-color);
}

.socialIcons>a {
    font-size: 1.5rem;
    color: var(--bm-light-color);
    padding-right: 1rem;
}

footer a:hover,
footer img:hover {
    color: var(--bm-highlight-color);
    opacity: 1;
}

.checklist {
    list-style: none;
}

.checklist i {
    color: var(--cf-orange);

}

.messageClass {
    color: var(--cf-orange);
    font-size: 1rem;
}

@media (min-width: 575.98px) {
    .techIcons {
        font-size: 5rem;
        /* color: var(--bm-light-color); */
        padding-right: 1rem;
    }
}

html {
    box-sizing: border-box;
    /* cursor: pointer; */
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    /* cursor: pointer; */
}

body {
    background: #ffffff url('../img/geometry2.png');
    /* Background pattern from Subtle Patterns */
    /* font-family: 'Coda', cursive; */
    /* cursor: pointer; */
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

/*
 * Styles for the deck of cards
 */

.deck {
    width: 660px;
    min-height: 680px;
    background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
    padding: 32px;
    border-radius: 10px;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 3em;
}

.deck .card {
    height: 125px;
    width: 125px;
    background: #2e3d49;
    font-size: 0;
    color: #ffffff;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
}

.deck .card.open {
    transform: rotateY(0);
    background: #02b3e4;
    cursor: default;
}

.deck .card.show {
    font-size: 33px;
}

.deck .card.match {
    cursor: default;
    background: #02ccba;
    font-size: 33px;
}

/*
 * Styles for the Score Panel
 */

.score-panel {
    text-align: left;
    width: 345px;
    margin-bottom: 10px;
}

.score-panel .stars {
    margin: 0;
    padding: 0;
    display: inline-block;
    margin: 0 5px 0 0;
}

.score-panel .stars li {
    list-style: none;
    display: inline-block;
}

.score-panel .restart {
    float: right;
    cursor: pointer;
}

@media (max-width: 575.98px) {
    .deck {
        width: 350px;
        min-height: 380px;
        background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
        padding: 16px;
        border-radius: 5px;
        box-shadow: 6px 7px 10px 0 rgba(46, 61, 73, 0.5);
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        margin: 0 0 1.5em;
    }

    .deck .card {
        height: 70px;
        width: 70px;
        background: #2e3d49;
        font-size: 0;
        color: #ffffff;
        border-radius: 4px;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 2px 1px 10px 0 rgba(46, 61, 73, 0.5);
    }

    .deck .card.open {
        transform: rotateY(0);
        background: #02b3e4;
        cursor: default;
    }

    .deck .card.show {
        font-size: 16px;
    }

    .deck .card.match {
        cursor: default;
        background: #02ccba;
        font-size: 16px;
    }

    /*
 * Styles for the Score Panel
 */

    .score-panel {
        text-align: left;
        width: 170px;
        margin-bottom: 5px;
    }
}